<% provide(:title, 'Help') %>
<h1>Help</h1>
<p><p>
  Here is where I go to get help.
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  Here is where I go to read when I need help.
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
  
 <p><p> Where will you go to get help? Don't call me.