<div class="center hero-unit">
	<h1>Welcome to my wicked (Boston) Sample App</h1>
	
	<h2>
		This is my static homepage that I want to improve with things that you want to see.<BR> Yes, you the one reading this right now at this moment in time. <BR>
		I have just changed this right here in starbucks on 3/22/13.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Ruby on Rails"), 'http://rubyonrails.org/' %>